*{padding:0;
  margin:0;
  font-size:16px;
  font-family:helvetica;}
main{background:rgb(34, 34, 34);
     height:100vh;
     display:flex;}
.container{max-width:1200px;
           margin:auto;
           background:blacK;
           border-radius:30px;
           box-shadow:0px 0px 30px rgba(0, 195, 255, 0.83);
           padding:20px;}
.principal{display:flex;
           gap:50px;
           flex-wrap:wrap;
           color:rgb(230, 230, 230)}
.caja-1{display:flex; 
    align-items:center;
    justify-content:center;
    width:300px;}
.imagen{width:230px; 
    background:rgba(6, 66, 126, 0.571);
    border-radius:20px;}
.imagen img{width:100%;
            margin:0px 0px;
            border-radius:10px;}
.caja-2{display:flex;
        align-items:center;
        max-width:800px;}
.caja-2 h1{font-size:3.7em;}
.skills{display:flex;
        flex-wrap:wrap;}
.skills p{margin:7px 15px 15px 0px;
          padding:7px 20px;
          box-shadow:0px 0px 10px rgba(10, 174, 199, 0.793);
          color:#f6f6f6;
          border-radius:30px;
          cursor:pointer;}
.skills p:hover{
    
}
.sobreMi{margin:20px 0px;
         color:rgb(205, 205, 205);
         line-height:20px;}

span{background:rgb(6, 186, 87);
     padding:3px 10px;
     border-radius:10px;
     margin-right:20px;}
span a{
    color:white;
    text-decoration:none;
    font-size:0.9em}
.correo{background:rgb(181, 35, 35);}
.contactame{line-height:30px;
            cursor:pointer;}
.sub_caja h2,
.proyectos h2{
    font-size:1.8em;
    margin:20px 0px 10px 0px;}

.proyectos{color:rgb(230, 230, 230)}
.web-1{padding:10px;
       margin:10px;
       border-radius:10px;
       background:rgb(49, 49, 49);}
.webs{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    text-align:center;
}
.webs img{width:300px;
          border-radius:10px;}
.webs p{color:rgba(255, 255, 255, 0.62);
        font-size:0.8em;
        word-spacing:8px;
        margin:10px 0px;
        }
.webs a{
    text-decoration:none;
    padding:10px 20px;
    border-radius:20px;
    background:rgb(29, 29, 29);
    color:white;
    transition:1s;
    display:block;
    margin:10px 0px;
    text-align:center;
}
.webs a:hover{
    background:rgb(0, 0, 0);
    box-shadow:0px 0px 10px rgba(36, 146, 224, 0.639);
    color:rgb(37, 178, 248);
    }

@media(max-width:800px){
    .webs{
        justify-content:center;
    }
    .caja-2 h1{font-size:2.6em;}
    .container{border-radius:0;}
}
